# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# React Native (legacy - can be removed)
node_modules/
.expo/
dist/
npm-debug.*

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.DS_Store
*.log
.idea/
.vscode/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
